.contact-card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}
.contact-card h2 {
    font-size: 18px;
    color: #007bff;
    margin-left: 10px;
}
.contact-card p {
    font-size: 14px;
    color: #333;
    margin-left: 10px;
    margin-bottom: 0; /* Eliminamos el espacio inferior */
}
.contact-card a {
    color: #007bff;
    text-decoration: none;
}
.contact-card a:hover {
    text-decoration: underline;
}
.phone-icon {
    color: #007bff;
}
.email-icon {
    color: #ff69b4;
}
.facebook-icon {
    color: #3b5998;
}
.instagram-icon {
    color: #bc2a8d;
}