
.navbar{
    padding: 15px 5%;
    background: rgba(221, 234, 238, 0.9);
    margin: 25px;
    border-radius: 20px;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
    
}

.nav-link{
    color: #333;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active{
    color: #000;
}

.nav-link::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #009970;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.nav-link:hover::before, .nav-link.active::before{
    width: 100%;
    visibility: visible;
}

/*Pagina*/

.card{
    text-align: center;
    border-radius: 2em;
    border: none;
    filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1));
}

.card-img-top {
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.card .btn-primary{
    border-radius: 2em;
}

/*Carrucel*/

.carousel-caption{
    margin-bottom: 50px;
}

.c-item{
    height: 500px;
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}


footer{
    text-decoration: none;
}